* {
  font-family: "sans-serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
  font-weight: 1000;
  position: relative;
  z-index: 10;
}

a {
  color: rgb(131, 226, 131);
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;

  transition: background-color 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wave-opacity-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -5px; /* Adjust to perfectly align under navbar */
}

.wave-opacity-divider svg {
  position: relative;
  display: block;
  width: 100%;
  height: 105px;
}

.wave-opacity-divider .shape-fill {
  fill: #ffffff !important;
}

.navbar {
  background-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #6c757d; /* Grey color */
  transition: ease-in-out 0.2s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #5a6268; /* Darker grey on hover */
  transform: scale(1.1);
}

.navbar h3 {
  color: #6c757d;
}

.svg-image {
  width: 100%;
  object-fit: fill;
}

.footer {
  background-color: #a93c28;
}

.hide-under {
  position: relative; /* Keep it at the bottom of the page */
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  z-index: 1; /* Keep it beneath all content */
}

.lock-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.idle-resize {
  animation: resizeAnimation 3s infinite ease-in-out;
}

@keyframes resizeAnimation {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.4) rotate(-10deg);
  }
  75% {
    transform: scale(1.4) rotate(10deg);
  }
  100% {
    transform: scale(1.2);
  }
}

.section-header {
  font-size: 5rem;
  font-style: bold;
}

.plan-a-trip {
  transition: ease-in-out 0.15s !important;
}
.plan-a-trip:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.plan-a-trip:active {
  transform: scale(1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.result-box-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 8px;
}

.airplane {
  transform: rotate(20deg);
}

.airplane:hover {
  transform: rotate(20deg) scale(1.1);
}

.text-green {
  color: #5fc55f;
}

.text-light {
  color: #f8f9faa0;
}

.stroked-text {
  font-size: 3rem; /* Adjust font size */
  font-weight: bold;
  color: white; /* Text color */
  -webkit-text-stroke: 2px black; /* Stroke thickness and color */
}

.map-container {
  height: 500px;
  width: 100%;
  border-radius: 40px;
  border: 6px solid rgb(147, 147, 147);
  overflow: hidden;
}

.logo-text {
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

@keyframes logo-wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logo-text:hover {
  animation: logo-wiggle 0.5s ease-in-out;
}

.logo-container {
  width: 20%;
}

.plan-button {
  margin-top: 30px !important;
  width: 130px;
  height: 40px;
}

.card-img-top {
  object-fit: cover;
  border-radius: 5px;
  padding-top: 10px;
}

.truck-kun {
  transform: rotate(-9deg);
  margin-left: 80%;
  margin-top: 15%;
  font-size: 200px;
  color: rgb(36, 56, 56);
  transition: 0.5s ease-in-out;
  animation: drive 30s infinite;
}

.truck-kun:hover {
  transform: translateY(-15px) scale(1.1);
}

@keyframes drive {
  0% {
    right: 100%; /* Starting off the screen on the right */
  }
  40% {
    transform: rotateY(20deg);
    transform: translateY(20px);
  }
  60% {
    transform: rotateY(20deg);
    transform: translateY(30px);
  }
  
  80% {
    transform: rotateY(10deg);
  }
  100% {
    right: -300px; /* Ending off the screen on the left */
  }
}
